*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font: 400 1rem ;
    background-color: #F4E0B9;
}

#a{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(248, 89, 89);
  text-decoration: none;
}

h1{
    color: #7D7463;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: #331D2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #331D2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  color: #331D2C;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 100%;
  height: auto;
}

#images {
 border: solid red;
 align-items: center;
 padding: 10px;
}

#images img{
  border: solid red;
  border-radius: 8px;
  align-items: baseline;
  margin-left: 10px;
}

.text{
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
}

/*----RECEITAS----*/
li{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 25px;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#rece{
  background-color: #F4E0B9;
}

img{
  border-radius: 8px;
  align-items: center;
  padding: 5px;
}

.grup-card{
  margin-top: 5px;
  display: flex;
  justify-content: stretch;
  gap: 20px;
  padding: 0 20px;
}

.grup-card img{
  max-width: 100%;
  height: 350px;
  width: 100%;
  object-fit: cover;

}

.card{
  width: 33.33%;
  padding: 10px;
}

/*----COMENTARIOS----*/
#comen{
  color: #331D2C;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 70px; /*para que o header não sobrep*/
}

.grup-comentarios{
  border: solid;
  margin: 5px;
}

.comen1 {
  border: solid;
  margin: 5px;
}

.comen1 img{
  object-fit: cover;
  max-width: 100%;
  height: 350px;
}

.comen1 p {
  border: red solid;
  justify-content: center;
  float: right;
}

/*
 
   
    
    */