*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font: 400 1rem ;
    background-color: #F4E0B9;
}

#a{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #af7312;
  text-decoration: none;
}

h1{
    color: #7D7463;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: #331D2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: #331D2C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  color: #331D2C;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 100%;
  height: auto;
}

span{
  color: #5c554a;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#images {
 justify-content: center;
 align-items: center;
 margin: 10px 10px;
 display: flex;
 gap: 20px;
}

#images img{
  border-radius: 8px;
  width: 33.33%;
}

.text{
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
}
/*----NAVBAR----*/
ul{
  background-image: linear-gradient(90deg, #ebd6b5 0%, #ca9f59 50.52%, #b89e72 100%);
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  gap: 10px;
}

#nav{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #331D2C;
  font-size: 16px;
  text-decoration: none;
}

/*----RECEITAS----*/
li{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 25px;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#rece{
  background-color: #F4E0B9;
}

img{
  border-radius: 8px;
  align-items: center;
 
}

.grup-card{
  margin-top: 5px;
  display: flex;
  justify-content: stretch;
  gap: 20px;
  padding: 0 20px;
}

.grup-card img{
  max-width: 100%;
  height: 350px;
  width: 100%;
  object-fit: cover;

}

.card{
  width: 33.33%;
  padding: 10px;
}

/*----COMENTARIOS----*/
#comen{
  color: #af7312;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 70px; /*para que o header não sobrep*/
}

.grup-comentarios{

  margin: 5px;
}

.comen1 {
  background-color: aliceblue;
  border-radius: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.comen1 img{
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}